

.toDoList{
	// @include box-shadow( 10px 10px 5px 0px rgba(232,232,232,1) );
	// &:before{
	// 	content: "";
	// 	display: block;
	// 	border-top: 2rem solid rgba(25, 20, 20, 0.75);
	// 	opacity: 0.5;
	// }
}
.toDoCard {
	@include clearfix;
	background-color: $white;
	color: #333;
	border-bottom: 1px solid rgba(136, 136, 136, .5);
	&:last-child{
		border-bottom-width: 2px;
	}
}
.taskStatus {
	float: left;
	display: block;
	padding: $lh/2;

	.svgContainer {
		position: relative;
		box-sizing: border-box;
		width: $lh;
		height: $lh;

		margin: 0 auto;
		display: block;
		border: 5px solid #d1d1d1;
		border-radius: 50%;
		overflow: visible;
		.checkIconContainer {
			position: absolute;
			width: $lh;
			height: $lh;
		}
	}
}





.taskDescription {
	// float: left;
	// position: relative;
	// display: block;
	// width: 90%;
	// border-left: 1px solid red;
	
	.taskDescriptionInput {
		text-indent: $lh/2;
		padding: $lh/2 0 $lh/2 0;
		font-size: $fs;
		height: $lh;
		border: 0;
		display: block;
		width: 100%;
		color: #333;

		&:focus {
			border:0;
			outline-offset: 0;
			outline: 0;
		}
	}
	.cardModifyBtnContainer{
		position: absolute;
		right: -2.5rem;
		top: $lh/5;
		width: $lh;
		height: $lh;

		cursor: pointer;
		text-align: center;
		font-weight: bold;
		font-family: cursive;
		&:focus,
		&:hover,
		&:active{
			border: 0;
			outline: 0;
		}
		&.showSubmitNewTaskButton{
			&:focus,
			&:hover{
				border: 0.5px solid rgba(128, 128, 128, 0.5);
				background-color: #e7e7e7;
			}
			.fa-check{
				visibility: visible;
				opacity: 1;
			}
		}
		.fa-check{
			display: inline-block;
			visibility: hidden;
			opacity: 0;

			font-size: $fs;
			text-align: center;
			
			&:focus{
				outline: 0;
			}
		}
	}
}
//  Style for list of ToDo Tasks cards


// Style for list of Done Tasks cards
.doneTasks {
	.toDoCard {
				
		.taskDescriptionInput{
			opacity: 0.5;
			text-decoration: line-through;
		}
	}
}