
// Font Settings
$fs: 1rem;
$lh: $fs*1.5;
$ff-proxima: "proxima-nova",sans-serif; // weights: 100, 300, 400, 500, 700

// color settings\

	// BASE colors 
	$white: #fff; // main container background
	$gray-light: #9facb3; // checkbox border
	$gray-dark : #71808c; // todo card head font color
	$blue-light: #d9e5f9; // todo card border
	$blue-dark : #5d6e7c; // todo card body font color

	// BRAND COLORS
	// Other ToDo Cards Color
	$yellow: #f9cf1e;

	// Main Card colors
	$pink      : #ff2929;     // Main Card Border
	$pink-light: #e56e6e; 	 // Main Card Font
	$blue-gray : #a8b9d0;   // Main Card Body Title

	//page background 
	$page-bg-color: #e9f1ff; //light blue - fallback color
	$header-font-color: rgba(168, 168, 168, 0.85); // gray with transparency


// HEIGHT SETTINGS 
// task card height:
$cardHeight: $lh*18.666;
$cardWidth : $lh*17.666;
