
// Font Settings
$fs: 1rem;
$lh: $fs*1.5;
$ff: "Helvetica";


// color settings

// BASE colors 
$white: #fff; // main container background



//page background 
$page-bg-color: #f5f5f5; //light gray - fallback color
$header-font-color: rgba(168, 168, 168, 0.85); // gray with transparency





// Background texture
//$page-backround: background-url: "http://api.thumbr.it/whitenoise-361x370.png?background=#eaeaeaff&noise=626262&density=15&opacity=15"